.nav {
  background-color: #f9f9fa;
  padding: 20px 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  bottom: 0;
  box-sizing: border-box;
}

.nav_list {
  display: flex;
  justify-content: space-between;
}

.nav_link {
  position: relative;
}

.nav_notification {
  position: absolute;
  left: 20px;
  bottom: 15px;
}

.nav_notification2 {
  background-color: tomato;
  width: 7px;
  height: 7px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 28px;
  bottom: 28px;
}
